:root {
  // font family //
  --font-family: "Muli", sans-serif;

  // color //
  --light: #0abde3;
  --primary: #2071e7;
  --dark: #2980b9;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
}
